<tr data-hook="order_details_line_item_row">
<td data-hook="order_item_image">
	<% if item.custom_product == nil %>
		<% if variant.images.length == 0 %>
			<%= link_to small_image(item.variant.product), item.variant.product %>
		<% else %>
			<%= link_to image_tag(item.variant.images.first.attachment.url(:small)), item.variant.product %>
		<% end %>
	<% else %>
		<%= link_to image_tag(item.custom_product.image.attachment.url(:small)), item.custom_product %>
	<% end %>
</td>
<td data-hook="order_item_description">
  <h4>
		<% if item.custom_product == nil %>
			<%= link_to item.name, product_path(item.variant.product) %>
		<% else %>
			<%= link_to item.custom_product.name, item.custom_product %>
		<% end %>  	
  </h4>
  <%= line_item_description_text((item.custom_product == nil ?  item.description : item.custom_product.description))%>
  <%= "(" + item.variant.options_text + ")" unless item.variant.option_values.empty? %>
</td>
<td data-hook="order_item_price" class="price"><span><%= item.single_money.to_html %></span></td>
<td data-hook="order_item_qty"><%= item.quantity %></td>
<td data-hook="order_item_total" class="total"><span><%= item.display_amount.to_html %></span></td>
</tr>