<tr class="stock-item">
	<% if item.custom_product == nil %>	
		<td class="item-image"><%= mini_image(item.variant) %></td>
		<td class="item-name"><%= item.variant.name %></td>
	<% else %>
		<td class="item-image"><%= link_to image_tag(line_item.custom_product.image.attachment.url(:mini)), line_item.custom_product %></td>
		<td class="item-name"><%= item.custom_product.name %></td>
	<% end %>
	<td class="item-qty"><%= item.quantity %></td>
 	<td class="item-price"><%= display_price(item.variant) %></td>
</tr>

